<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">


  <!-- UserServlet для REST API -->
  <servlet>
    <servlet-name>UserApiServlet</servlet-name>
    <servlet-class>com.example.jenkinsspring.api.UserApiServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserApiServlet</servlet-name>
    <url-pattern>/api/users/*</url-pattern>
  </servlet-mapping>

  <!-- ActivityServlet для REST API -->
  <servlet>
    <servlet-name>ActivityApiServlet</servlet-name>
    <servlet-class>com.example.jenkinsspring.api.ActivityApiServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ActivityApiServlet</servlet-name>
    <url-pattern>/api/activities/*</url-pattern>
  </servlet-mapping>

  <!-- TelegramSendServlet для отправки сообщений в Telegram -->
  <servlet>
    <servlet-name>TelegramSendServlet</servlet-name>
    <servlet-class>com.example.jenkinsspring.api.TelegramSendServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TelegramSendServlet</servlet-name>
    <url-pattern>/api/telegram/send</url-pattern>
  </servlet-mapping>



</web-app>
